::selection { background: transparent; } ::-moz-selection { background: transparent; }

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center ;
}

.ui {
  margin: 0 auto;
	width: 150px;
  height: 300px;
  z-index: 1000;
  overflow: hidden;
}

.streetA {
  top: 0.8vh;
  right: 55%;
  width: 100%;
  position: absolute;
  text-align: right!important;
  margin: 0 auto;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  color:rgba(255,255,255, 1);
  text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
}

.streetB {
  top: 0.8vh;
  left:55%;
  position: absolute;
  text-align: left!important;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  color:rgba(255,255,255, 1);
  text-shadow: -1px -1px 0 rgba(0,0,0, 0.7), 1px -1px 0 rgba(0,0,0, 0.7), -1px 1px 0 rgba(0,0,0, 0.7), 1px 1px 0 rgba(0,0,0, 0.7);
}

.compass {
  top: 0.2vh;
  position: relative;
  margin: 0 auto;
  font-size: 11pt;
  color:rgba(255,255,255, 1);

}

.bar {
  margin: 0 auto;
  position: relative;
  color:rgba(255,255,255, 1);
  text-shadow: #000 0px 0px 1px#000 0px 0px 1px#000 0px 0px 1px;
}

.svg {
  transform: scale(1.2);
  display: block;
  width:100%;
  height: 80px;
  font-size: 20pt;
}